body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cabin Sketch", sans-serif;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
  color: #2d3142;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  border-width: 10px;
  border-color: #212529;
  border-style: solid;
  user-select: none;
  width: 768px;
  height: 768px;
}

.canvas-line {
  display: flex;
}

.square {
  background-color: white;
}
