body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cabin Sketch", sans-serif;
}

.title {
  font-size: 4rem;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  user-select: none;
}

.canvas-line {
  display: flex;
}

.square {
  width: 32px;
  height: 32px;
  background-color: white;
}
